<!-- index.html -->

<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Vue</title>
    <!-- CSS -->
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>

    <!-- navigation bar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <a class="navbar-brand"><i class="glyphicon glyphicon-cog"></i> Vue.js API Testing</a>
        </div>
    </nav>

    <div class="container" id="entries">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h4>Submit an Entry</h4>
                </div>
                <div class="panel-body center-block">
                    <div class="form-group">
                        <input class="form-control" placeholder="Title" v-model="entry.attributes.title">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Markdown" v-model="entry.attributes.markdown"></textarea>
                    </div>
                    <button class="btn btn-primary center-block" v-on:click="postEntry">Submit</button>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="list-group">
                <div class="list-group-item" v-for="entry in entries">
                    <span class="dropdown pull-right">
                        <button class="btn btn-xs dropdown-toggle" type="button" id="dropdown{{$index}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="glyphicon glyphicon-cog"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdown{{$index}}">
                            <li><a href="#" v-on:click="deleteEntry($index)"><i class="glyphicon glyphicon-pencil"></i> Edit</a></li>
                            <!-- <li role="separator" class="divider"></li>
                            <li><a href="#" v-on:click="deleteEntry($index)"><i class="glyphicon glyphicon-trash"></i> Delete</a></li> -->
                        </ul>
                    </span>
                    <h4 class="list-group-item-heading">{{ entry.attributes.title }}
                    </h4>
                    <!-- <div class="btn-group pull-right" role="group">
                        <button class="btn btn-xs btn-primary" v-on:click="deleteEntry($index)"><i class="glyphicon glyphicon-pencil"></i> Edit</button>
                        <button class="btn btn-xs btn-danger" </button>
                    </div> -->
                    <p class="list-group-item-text">{{ entry.attributes.markdown }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- JS -->
    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendor/vue/dist/vue.js"></script>
    <script src="vendor/vue-resource/dist/vue-resource.js"></script>
    <script src="static/app.js"></script>
</body>

</html>
